body {background-color: white}



.heading{
	position:fixed;
	text-align:right;
	top:300px;
	right:400px;
font-weight:900;
		font-size:60px;
		width:700px;
	animation-name:spinUG;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
	}

@keyframes spinUG {
  
  from {
    width:700px;
  }
  
  to {
    width:300px;
  }
  
  
}

	.img1{
		
		width:20px;
		height:auto;
		position:auto;
			cursor: move;

  	
	}

	video{  
           
          
           margin-top:-40px;
           margin-left:-5px;
           border:5px solid black; 
           
         min-width: 100%;  
          min-height:100%;  
            height: auto;  
            width: auto; 
          align-self:center;

        }
	
	

	
	.box{
		position:fixed;
		bottom:0px;
		 min-width: 100%;  
          height: 60px;  
         left:0px;
           display:box;
           background-color:black;
          

	}
	.start{
		position:fixed;
		bottom:-50px;
		 right:40px;
		cursor: pointer;
		transition:1s;

	}

	.start:hover{
	bottom:0px;
	transition:1s;

}

	.text{
		color:black;
		font-family:arial;
		font-weight:600;
		cursor:pointer;
	}
	/*hover*/

.forders{
    display:block;
    width:100%;
    align:center;
    
}
	.forder{
		position:absolute;
	}
	
	.f1{
	left: 400px;
    top: 20px;

	}

	.f2{
	left: 200px;
    top:20px;

	}
	.f3{
	left: 400px;
    top:20px;

	}
	.f4{
	left: 200px;
    top:20px;

	}
	.f5{
	left: 400px;
    top: 20px;

	}
	.f6{
	left: 1000px;
    top: -520px;

	}
	.f7{
	left: 500px;
    top:-20px;

	}


.forder{
	position: relative;
	cursor: move;
}

.infotext{
	display:flex;
	

}
.info{

	font-size:20px;
	position:relative;
	margin-top:20px;
margin-right:50px;
	flex:0 0 80%;

}
.next{
	position:fixed;
	right:40px;
	bottom:-50px;
	cursor: pointer;
transition:1s;

}
.next:hover{
	bottom:0px;
	transition:1s;

}


.infot{
	font-size:40px;
	font-family:arial;
	font-weight:900;
margin-top:10px;
	margin-bottom:20px;
	margin:auto;
}

.backtext{
	position:fixed;
	top:1500px;
	font-family:arial;
	font-size:90px;
	font-weight:900;
	color:#B9B9B9;
	margin-left:400px;
	 mix-blend-mode: exclusion;

}




.top{

	display:flex;
	border:5px solid gray; 
           
	
	background-color:black; 
	justify-content: space-around;

}
.topi{
flex:0 0 33.33%;
font-family:arial;
font-weight:800;
color:white;
}
.close{
	margin-right:0px;
	font-size:30px;
cursor:pointer;
	text-align:right;
	font-family:arial;
font-weight:800;
color:white;

	
}

.content{
	font-family:arial;
	font-weight:600;
	color:#261D60;
margin-left:10px;
margin-right:10px;
margin-top:20px;
}
.poll1{
	display:none;
	position:fixed;
		
	
}
.poll1.show{
	display:block;
	margin-top:-800px;
	position:fixed;
		height:400px;
		width:500px;
		margin-left:1300px;
		border:5px solid yellow; 
         cursor:move;
	box-shadow:10px 10px 10px gray;
	background-color:white; 
}

.oj {
position:fixed;
	
		display:none;
		

}
.oj.show{
	display:block;
		margin-top:-700px;
		height:400px;
		width:500px;
		margin-left:1200px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	cursor:move;
	background-color:white; 
}

.poll3{
	position:fixed;
	display:none;	
}

.poll3.show{
margin-top:-800px;
		display:block;
		height:400px;
		width:500px;
		margin-left:1100px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;  
	cursor:move;
	background-color:white; 
}

.psy{
	position:fixed;
		display:none;
}
.psy.show{
	margin-top:-700px;
		display:block;
		height:400px;
		width:500px;
		margin-left:1000px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	cursor:move;
	background-color:white; 
}

.poll4{
	position:fixed;
		display:none;
}
.poll4.show{
	margin-top:-800px;
		display:block;
		height:400px;
		width:500px;
		margin-left:900px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;  
	cursor:move;
	background-color:white; 
}
.yupp{
	position:fixed;
	display:none;	
}
.yupp.show{
	margin-top:-700px;
		display:block;
		height:400px;
		width:500px;
		margin-left:800px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;    
	cursor:move;
	background-color:white; 
}

.new{
	position:fixed;
		display:none;
}
.new.show{
	margin-top:-800px;
		display:block;
		height:400px;
		width:500px;
		margin-left:700px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	cursor:move;
	background-color:white; 
}

.manu{
	display:block;
	height:400px;
	width:330px;
	position:fixed;
	right:40px;
	bottom:-400px;
	transition: 0.2s;
	border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	
}

.manu.show {
	display:block;
	bottom:0px;
	transition: 0.2s;
}

.sellet{
	font-family:arial;
	font-weight:900;
	font-size:45px;
	margin-top:50px;
	margin-left:20px;
	
}


a:link { 
font-size: 45px; 
color:white; 
text-decoration: none; 
 transition:0.5s;
} 
a:visited { 
font-size: 45px; 
color: white; 
text-decoration: none; 
} 
a:hover { 
font-size: 50px; 
color: #364872; 
 transition:0.5s;

} 

.line{
	display:block;
	max-height:3px;
	 min-width: 100%;  
	 position:fixed;
	top:500px;
	font-size:20px;
	font-weight:600;
	 background-color:black;
	  mix-blend-mode: overlay;
	}

	.t{
	 animation-name:t;
	
  animation-duration:5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
	 
}

.m{

 animation-name:m;
	text-align:right;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

.p{
 animation-name:p;
	text-align:center;
  animation-duration:4000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;

}

@keyframes t {
  
  from {
   margin-top:-400px;
  }
  
  to {
   margin-top:200px;
  }
  
  
}

@keyframes m{
  
  from {
   margin-top:-60px;
  }
  
  to {
   margin-top:0px;
  }
  
  
}

@keyframes p{
  
  from {
   margin-top:-300px;
  }
  
  to {
   margin-top:70px;
  }
  
  
}
