body {
    margin:auto;

    width:1200px;
    height:700px;

    font-family:Arial;
    background-color: #BCF7F5
}
h2{
    position:fixed;
    color:blue;
   margin:auto;
    
    
}
.email{
    position:fixed;
    color:blue;
    margin-top:30px;
    text-aling:right;
    font-weight:600;
}


.jpg2{
      background-position: center center;
    position:absolute;
    
    margin:-70px 320px;
  
    display:block;
   
    
    
    
}
.bg2{
    position:absolute;
    z-index:-1;
    
}

.cloud{
   
 position:absolute;
     z-index:0;
    margin-top:260px;
    margin-left:40px;
    animation-name:spinUG;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}
.cloud1{
   
 position:absolute;
     z-index:0;
    margin-top:260px;
    margin-left:450px;
  animation-name:spinUG;
  animation-duration:2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}


.boxo{
    align-content:center;
    display:block;
    
}




@keyframes spinUG {
  
  from {
   margin-top:260px;
  }
  
  to {
   margin-top:230px;
  }
  
  
}

/*
	.img1{
		
		width:10px;
		height:auto;
		position:auto;
			cursor: move;

  	
	}
*/

	video{  
           
        max-width:800px;
     margin:50px 100px;
        
/*
           margin-top:-40px;
           margin-left:-5px;
           border:5px solid black; 
           
         min-width: 100%;  
          min-height:100%;  
*/
/*
            height: auto;  
            width: auto; 
*/

        
        }
	
	

	
	.box{
		position:fixed;
		bottom:0px;
		 min-width: 100%;  
          height: 60px;  
         left:0px;
           display:box;
           background-color:black;
          

	}
/*
	.start{
		position:fixed;
		bottom:-50px;
		 right:40px;
		cursor: pointer;
		transition:1s;

	}

	.start:hover{
	bottom:0px;
	transition:1s;

}
*/

	.text{
		color:blue;
		
		font-weight:600;
		cursor:pointer;
        
	}

	/*hover*/

.forders{
 text-align:center;
    display:block;
    height:600px;
  
   
  
   
  
    
    
    
}
	.forder{
        
		position:absolute;
         width:150px;
/*        margin:auto;*/
       
	}
	
	.f1{
        top:450px;
	left: 240px;


	}
.f1:hover{
		
		top:470px;
		transition:0.5s;
	}

	.f2{
	left: 400px;
   top:425px;

	}
.f2:hover{
		
		top:405px;
		transition:0.5s;
	}
	.f3{
	left: 680px;
   top:275px;

	}
.f3:hover{
    top:255px;
    transition:0.5s;
}
	.f4{
	left: 840px;
    top:50px;

	}
.f4:hover{
    top:70px;
    transition:0.5s;
}
	.f5{
	left: 1000px;
   top:30px;

	}
.f5:hover{
    top:10px;
    transition:0.5s;
}
	.f6{
	left: 80px;
   top:-95px;

	}
.f6:hover{
    top:-115px;
    transition:0.5s;
}
	


.forder{
	position: relative;
	cursor: pointer;
}

.infotext{
	display:flex;
	

}
.info{

	font-size:20px;
	position:relative;
	margin-top:20px;
margin-right:50px;
	flex:0 0 80%;

}
.next{
	position:fixed;
	right:40px;
	bottom:-50px;
	cursor: pointer;
transition:1s;

}
.next:hover{
	bottom:0px;
	transition:1s;

}


.infot{
	font-size:40px;
	font-family:arial;
	font-weight:900;
margin-top:10px;
	margin-bottom:20px;
	margin:auto;
}

.backtext{
	position:fixed;
	top:1500px;
	font-family:arial;
	font-size:90px;
	font-weight:900;
	color:#B9B9B9;
	margin-left:400px;
	 mix-blend-mode: exclusion;

}




.top{

	display:flex;
    width:1000px;
    position:fixed;
/*	border:5px solid gray; */
           
	
	background-color:blue; 
	justify-content: space-around;

}
.topi{
    color:white;
    font-size:24px;
    font-weight:800;
    margin-top:15px;
    font-family:arial;
}

.close{

font-size:24px;
cursor:pointer;
 margin-top:15px;
	font-family:arial;
font-weight:800;
color:white;

	
}

.content{
	font-family:arial;
	font-weight:600;
	
   
             
/*
margin-left:10px;
margin-right:10px;
*/
    align-content:center;

}


.poll1{
	display:none;
	position:fixed;
	 
	
}
.poll1.show{
	display:block;
	margin-top:-500px;
	position:fixed;
    overflow-y:scroll;
		height:500px;
		width:1000px;
		margin-left:100px;
		border:5px solid yellow; 
         cursor:move;
	box-shadow:10px 10px 10px gray;
	background-color:white; 
}

.oj {
position:fixed;
	
		display:none;
		

}
.oj.show{
    overflow-y:scroll;
	display:block;
		margin-top:-500px;
		height:500px;
		width:1000px;
		margin-left:100px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	cursor:move;
	background-color:white; 
}

.poll3{
	position:fixed;
	display:none;	
}

.poll3.show{
    overflow-y:scroll;
margin-top:-500px;
		display:block;
		height:500px;
		width:1000px;
		margin-left:100px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;  
	cursor:move;
	background-color:white; 
}
/*visual*/

.psy{
	position:fixed;
		display:none;
}
.psy.show{
    overflow-y:scroll;
	margin-top:-500px;
		display:block;
		height:500px;
		width:1000px;
		margin-left:100px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	cursor:move;
	background-color:white; 
}
/*explain video*/

.poll4{
	position:fixed;
		display:none;
}
.poll4.show{
    overflow-y:scroll;
	margin-top:-500px;
		display:block;
		height:500px;
		width:1000px;
		margin-left:100px;
    
        border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;  
	cursor:move;
	background-color:white; 
}
/*about me*/
.yupp{
	position:fixed;
	display:none;	
}
.yupp.show{
    overflow-y:scroll;
	margin-top:-500px;
		display:block;
		height:500px;
		width:1000px;
		margin-left:100px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;    
	cursor:move;
	background-color:white;
    overflow-y:scroll;
}

/*pop1 */

.new{

	position:fixed;
		display:none;
    overflow-y:scroll;
	margin-top:-500px;
		display:block;
		height:500px;
		width:1000px;
		margin-left:100px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;    
	cursor:move;
	background-color:white;
    
    
}
.new.show{
    position:fixed;
		display:none;
/*
	margin-top:-800px;
		display:block;
		height:400px;
		width:500px;
		margin-left:700px;
		border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	cursor:move;
	background-color:white; 
*/
}


/*
.manu{
	display:block;
	height:400px;
	width:330px;
	position:fixed;
	right:40px;
	bottom:-400px;
	transition: 0.2s;
	border:5px solid yellow; 
      box-shadow:10px 10px 10px gray;   
	
}

.manu.show {
	display:block;
	bottom:0px;
	transition: 0.2s;
}
*/

.sellet{
	font-family:arial;
	font-weight:900;
	font-size:45px;
	margin-top:50px;
	margin-left:20px;
	
}


/*
a:link { 
font-size: 14px; 
color:blue; 
text-decoration: none; 
 transition:0.5s;
} 
a:visited { 
font-size: 14px; 
color: blue; 
text-decoration: none; 
} 
a:hover { 
font-size: 18px; 
color: #364872; 
 transition:0.5s;

} 
*/





  
  

